# Heroku environmental variables, including API keys.
# https://devcenter.heroku.com/articles/config-vars
.env

# npm packages
 node_modules
# node modules has been included to try and fix problem 

# Mac
.DS_Store

# Emacs
*~
